// components/Input/Input.module.scss
.inputWrapper {
    display: flex;
    flex-direction: column;
    // gap: 0.5rem;
    width: 100%;
    .inputContainer {
        position: relative;
        width: 100%;
        margin: auto;
      
    
        .input {
            width: 95%;
            padding: 0.75rem 0rem 0.75rem 1rem;
            border: 1px solid #e2e8f0;
            border-radius: 0.375rem;
            font-size: 14px;
            line-height: 1.5;
            transition: all 0.2s;
        //   flex: 1;
        
            &:focus {
              outline: none;
              border-color: #4f46e5;
              box-shadow: 0 0 0 1px rgba(79, 70, 229, 0.2);
            }
          
            &.error {
              border-color: #ef4444;
            }
          }

          
    }
      
}
  
  
  
  .passwordToggle {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #6b7280;
  
    &:hover {
      color: #4b5563;
    }
  }
  
  .errorMessage {
    color: #ef4444;
    font-size: 0.875rem;
  }
  
  .label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
  }

