.featured-jobs{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    
}

.highlight {
    color: #4caf50; // Green color
    padding-left: 0.8rem;
  }