.brandList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
  
    @media (max-width: 768px) {
      gap: 1rem;
      padding: 1rem;
    }
  }
  