.jobCategoryList {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 2rem;
    flex-wrap: wrap;
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  