@import '@/design-system/globalStyles/index.global.scss';

.heroTitle {
    font-size: rem(40);
    font-weight: 500;
    line-height: 1.2;
    color: white;
    text-align: left;
  
    @media (max-width: 1024px) {
      font-size: 2rem;
    }
  
    @media (max-width: 768px) {
    //   font-size: 2rem;
    //   text-align: center;
    }
  
    @media (max-width: 480px) {
      font-size: 1.8rem;
    }
  }
  