.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.horizontal-line {
  flex: 1;
}

.text {
  text-align: center;

}

// Horizontal line
.horizontal-bottom-line {
  border: none;
  border-bottom: 1px solid #e5e7eb;
  ;
}